

body, html {
        margin: 0px !important;
        padding: 0px !important;
    }

.col{
    padding:0px !important;
    margin: 0px !important;
}

.row{
    padding:0;
    margin: 0;
}

    

body{
    background: #3e3e3e;
}

.wrapper {

  height: 100vh;
  width: 100%;
  background:#3e3e3e;
    overflow: hidden;
}

.content{
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 10px;
    height: 130vh;
    overflow-y:scroll;
    zoom:80%;
}

.flex{
    display: flex;
    overflow-x: scroll;
    width: 2500px;
}

.font12{
    font-size: 12pt !important;
}

.card-content{
    overflow:hidden;
}



.content .fixer{
    margin-top:-10px;
}





.add{
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 14pt;
}




.center-progress{
    margin:0 auto;
    width: 70%;
    text-align: center;
    color: white;
    margin-top:40vh;


}

a {
    cursor: pointer;
}

.sidebar ul{
    margin: 0 !important;
    padding: 0 !important;
    border:0;
}



.sidebar{
    height: 100vh;
    background: rgb(74,84,93);
}

.sidebar a{
        color:white;
}

.sidebar li:hover{
       background:#424242 !important;
}

.sidebar li:active{
    background:red;
}

.sidebar li{
    font-size:12px;
    white-space: normal;
    padding-left: 0px;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}

.card{
    margin-top: 10px;
    margin-right: 10px;
}




.sidebar a:active{
    border:1px solid black;
}



.logo{
    background-image: url("../images/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color:black !important;
    padding-top:10px;
    height:130px;
    margin-bottom: 50px;
}

.addForm{
    padding:10px;
}

.addForm textarea{
    height: 250px;
    border:1px solid grey;
    padding:10px;
    margin-top: 15px;
}

.addForm select{
    margin-bottom: 15px;
}

margin-15{
    margin:15px;
}
.addForm textarea:focus{
    outline:2px solid teal;
}

.width-70{
    width: 70%;
}

.width-50{
    width: 70%;
}

.width-30{
    width: 30%;
}

.btn{
    margin-top:10px;
}

.login-form{
    margin: 25vh auto;
}

.issueview .col{
    padding:10px !important;
    margin-right: 10px;
}

.issueview .divider{
    margin-top: 10px;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.avatar-comments{
    border-radius: 100px;
    padding:10px;
    height: 75px;
}

.fixed-bottom{
    position: relative;
    bottom:100px;
}